[submodule "unicorn_mode/unicornafl"]
	path = unicorn_mode/unicornafl
	url = https://github.com/AFLplusplus/unicornafl
[submodule "custom_mutators/grammar_mutator"]
	path = custom_mutators/grammar_mutator/grammar_mutator
	url = https://github.com/AFLplusplus/Grammar-Mutator
[submodule "qemu_mode/qemuafl"]
	path = qemu_mode/qemuafl
	url = https://github.com/AFLplusplus/qemuafl
[submodule "custom_mutators/gramatron/json-c"]
	path = custom_mutators/gramatron/json-c
	url = https://github.com/json-c/json-c
[submodule "coresight_mode/patchelf"]
	path = coresight_mode/patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "coresight_mode/coresight-trace"]
	path = coresight_mode/coresight-trace
	url = https://github.com/RICSecLab/coresight-trace.git
[submodule "nyx_mode/libnyx"]
	path = nyx_mode/libnyx
	url = https://github.com/nyx-fuzz/libnyx.git
[submodule "nyx_mode/packer"]
	path = nyx_mode/packer
	url = https://github.com/nyx-fuzz/packer.git
[submodule "nyx_mode/QEMU-Nyx"]
	path = nyx_mode/QEMU-Nyx
	url = https://github.com/nyx-fuzz/QEMU-Nyx
[submodule "path_reduction"]
	path = path_reduction
	url = https://github.com/fEst1ck/path-cov.git
[submodule "fuzzingExample/edge/path_reduction"]
	path = fuzzingExample/edge/path_reduction
	url = https://github.com/fEst1ck/path-cov.git
[submodule "fuzzingExample/edge/AFL++"]
	path = fuzzingExample/edge/AFL++
	url = https://github.com/path-cov-fuzzer/pathAFLplusplus.git
	branch = stable
[submodule "fuzzingExample/complex/path_reduction"]
	path = fuzzingExample/complex/path_reduction
	url = https://github.com/fEst1ck/path-cov.git
[submodule "fuzzingExample/complex/AFL++"]
	path = fuzzingExample/complex/AFL++
	url = https://github.com/path-cov-fuzzer/pathAFLplusplus.git
	branch = stable
[submodule "fuzzingExample/base64/base64"]
	path = fuzzingExample/base64/base64
	url = https://github.com/path-cov-fuzzer/modified_base64.git
[submodule "fuzzingExample/base64/AFL++"]
	path = fuzzingExample/base64/AFL++
	url = https://github.com/path-cov-fuzzer/pathAFLplusplus.git
	branch = stable
[submodule "fuzzingExample/base64/pathAFL++"]
	path = fuzzingExample/base64/pathAFL++
	url = https://github.com/path-cov-fuzzer/pathAFLplusplus.git
[submodule "fuzzingExample/base64/path_reduction"]
	path = fuzzingExample/base64/path_reduction
	url = https://github.com/fEst1ck/path-cov.git
